body{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgba(243, 218, 171, 0.356);
    color:rgb(0, 0, 0);

}

#navbar{
    height: auto;
    width: auto;
    background-color: rgb(218, 247, 237);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 15px;
    
}
main{
    padding-left: 50px;
    padding-right: 50px;


}
header {
      background-color: #d8f3dc;
      padding: 20px;
      text-align: center;
      border-bottom: 2px solid #ccc;
 }

header a {
      margin: 0 15px;
      text-decoration: none;
      color: #004d40;
      font-weight: bold;
}
a:hover{
      text-decoration-line: underline;
      text-decoration-color: #011b17 ;
      text-decoration-thickness: 2px;
}
.section {
      padding: 40px 20px;
      max-width: 1200px;
      margin: auto;
}

.section h2 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 20px;
      font-style: italic;
      color: #000;
}

.container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
}

.card {
      background-color: #fce5dc;
      padding: 15px;
      width: 300px;
      height: 200px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      transition: all 0.4s ease;
      overflow: hidden;
      border-radius: 8px;
}

.card:hover {
      transform: scale(1.1);
      height: auto;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
      background-color: #fce0d5;
      cursor: pointer;
}

.card p {
      margin: 0;
      font-size: 14px;
      line-height: 1.5;
}
.headings{
    /* font-weight: 900; */
    font-style: italic;
    align-items: center;
    display: flex;
    justify-content: center;

}
#socialhandles{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: rgb(245, 237, 226) ;
    height: auto;

}